<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="book-text">
    <p><strong>タイトル</strong>：<%= @book.title %></p>
    <p><strong>内容</strong>：<%= @book.content %></p>
  </div>

  <p>コメント一覧（ここから下の内容が重要）</p>

  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, book: @book } %>
  </div>

  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, book: @book } %>

  <%= link_to '編集', edit_book_path(@book) %> |
  <%= link_to '戻る', books_path %>
</div>
